:root {
  --red: #c74057;
  --blue: #33333e;
  --shadow: rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */

.header {
  background-color: var(--red);
  width: 100%;
  height: 400px;
  position: fixed;
  top: 0;
  z-index: 99;
  padding-top: 43px;
  transition: all 250ms;
}

.faceLogo {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 43px;
  background-color: white;
  border: 5px solid var(--blue);
  border-radius: 40px;
  box-shadow: 0 0 0 2px white;
  display: flex;
  justify-content: center;
  transition: all 250ms;
}

.faceLogo img {
  width: 70%;
}

.headerLinks {
  list-style: none;
  text-align: center;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 100;
  transition: all 250ms;
}

.headerLinks li {
  display: inline;
  padding: 0 20px;
  border-right: 1px solid white;
}

.headerLinks li:last-child {
  border: none;
}

.blogDescription {
  width: 425px;
  height: 170px;
  margin: auto;
  background-color: var(--blue);
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 0 0 3px var(--blue);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogDescription img {
  width: 75px;
  margin-right: 20px;
}

.blogDescription p {
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

/* scrolled header style */

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.scrolledHeader {
  height: 100px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolledHeader .faceLogo {
  width: 65px;
  height: 65px;
  border-radius: 20px;
  margin: 0;
}

.scrolledHeader .headerLinks {
  text-align: right;
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  animation: appear 250ms 1 forwards;
}

.scrolledHeader .blogDescription {
  height: 100px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  left: 0;
  top: 0;
  transform: none;
  animation: appear 250ms 1 forwards;
}

.scrolledHeader .blogDescription img {
  width: 50px;
}

.scrolledHeader .blogDescription p {
  font-size: 14px;
  line-height: 21px;
}

/* blog style */

.blogList {
  width: 700px;
  margin: auto;
  margin-top: 600px;
}

.blogDate {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--blue);
  margin-bottom: 30px;
}

.blogItem {
  width: 100%;
  margin-bottom: 100px;
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--shadow);
  display: flex;
}

.blogThumb {
  width: 32.5%;
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
}

.thumb001 {
  background-image: url("../images/blogThumbs/UIDailey001Thumb.png");
}

.thumb002 {
  background-image: url("../images/blogThumbs/UIDailey002.png");
}

.thumb003 {
  background-image: url("../images/blogThumbs/UIDailey003.png");
  background-position: left;
}

.thumb004 {
  background-image: url("../images/blogThumbs/UIDailey004.png");
}

.thumb005 {
  background-image: url("../images/blogThumbs/UIDailey005.png");
  background-position: left;
}

.thumb006 {
  background-image: url("../images/blogThumbs/UIDailey006.png");
}

.thumb007 {
  background-image: url("../images/blogThumbs/UIDailey007.png");
}

.thumb008 {
  background-image: url("../images/blogThumbs/UIDailey008.png");
  background-position: 75%;
}

.thumb009 {
  background-image: url("../images/blogThumbs/UIDailey009.png");
  background-position: 90%;
}

.thumb010 {
  background-image: url("../images/blogThumbs/UIDailey010.png");
  background-position: 85%;
}

.blogCopy {
  width: 67.5%;
  padding: 30px 60px;
  color: var(--blue);
  border-radius: 0 20px 20px 0;
}

.blogCopy h1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.blogCopy p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 24px;
}

.challenge {
  opacity: 0.75;
}
